@use "../../assets/partials/variables" as *;

.footer {
  background-color: $background-color-dark;
  margin: -2rem;
  height: 20vh;
  padding: 2rem;

  &__text {
    color: #fff;
    padding-bottom: 2rem;
  }
}
